@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "titania";
    font-weight: normal;
    src: url("/fonts/Titania/Titania-Regular.ttf");
  }

  @font-face {
    font-family: "titania-outline";
    font-weight: normal;
    src: url("/fonts/Titania/Titania-Outline.ttf");
  }

  @font-face {
    font-family: "titania-shadow";
    font-weight: normal;
    src: url("/fonts/Titania/Titania-Shadow.ttf");
  }
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.content {
  background: linear-gradient(
    180deg,
    #b5dae2 -10.01%,
    #5189c4 24.3%,
    #27378e 57.01%,
    #262626 110.81%
  );
}

.dive-button {
  background: linear-gradient(
    261.31deg,
    #e73776 -2.11%,
    #bc2788 48.56%,
    #951898 96.99%
  );

  transition: all 0.3s ease-in-out;
}

.dive-button:hover {
  background: linear-gradient(
    90.76deg,
    #e73776 -5.76%,
    #bc2788 44.43%,
    #951898 110.63%
  );
}

.oprec-button {
  background: linear-gradient(
    261.31deg,
    #e73776 -2.11%,
    #bc2788 48.56%,
    #951898 96.99%
  );
}

.about-mabacup {
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: linear-gradient(
    93.43deg,
    rgba(255, 255, 255, 0.05) 2.55%,
    rgba(255, 255, 255, 0.3) 94.75%
  );
}

.event-card {
  box-shadow: inset 0 0 0 1px rgb(255, 255, 255, 0.18);
  background: linear-gradient(
    139.65deg,
    rgba(255, 255, 255, 0.05) 1.24%,
    rgba(255, 255, 255, 0.3) 96.08%
  );
  backdrop-filter: blur(15px);
}

.event-card::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: white;
  z-index: 10;
  transition: 0.5s ease-in-out;
}

.event-card:hover::before {
  content: "Coming Soon";
  font-size: 1.5rem;
  font-family: "Titania";

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.event .event-button {
  background: linear-gradient(180deg, #d8328e 0%, #3f205c 100%);
}

.oprec {
  background: radial-gradient(
    109.44% 354.6% at 102.67% -3.31%,
    #addea3 0%,
    #43a8ad 65.94%,
    #246a8c 100%
  );
}

.retro {
  background: linear-gradient(180deg, #273580 0%, #272d51 100%);
}

.form-staff {
  background: linear-gradient(
    151.76deg,
    #b5dae2 -27.79%,
    #5189c4 65.96%,
    #5189c4 96.08%
  );
}

.page-staff {
  background: linear-gradient(
    151.76deg,
    #b5dae2 -27.79%,
    #5189c4 65.96%,
    #5189c4 96.08%
  );
}

.page-oprec-staff {
  background: linear-gradient(
    180deg,
    #b5dae2 0%,
    #5189c4 36.43%,
    #27378e 71.96%,
    #131e5a 96.07%
  );
}

.timeline-staff {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    93.43deg,
    rgba(255, 255, 255, 0.05) 2.55%,
    rgba(255, 255, 255, 0.3) 94.75%
  );
}

.accordion-text {
  background: linear-gradient(
    93.43deg,
    rgba(255, 255, 255, 0.05) 2.55%,
    rgba(255, 255, 255, 0.3) 94.75%
  ) !important;
}

.narasi {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    93.43deg,
    rgba(255, 255, 255, 0.05) 2.55%,
    rgba(255, 255, 255, 0.3) 94.75%
  );
}

.persyaratan-staff {
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.1);
}

.button-form {
  background: linear-gradient(
    261.31deg,
    #e73776 -2.11%,
    #bc2788 48.56%,
    #951898 96.99%
  );
}

.MuiPaper-root {
  background: none !important;
}

@media only screen and (max-width: 500px) {
  .hero {
    background: linear-gradient(
      192.09deg,
      #d9e0e2 -9.2%,
      #83a7cb 18.14%,
      #3574b6 52.94%,
      #2368b1 100%
    );
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
  .hero {
    background: radial-gradient(
      124.1% 402.07% at 117.33% -15.37%,
      #fff6e6 0%,
      #e3e6e2 9.45%,
      #5189c4 63.64%,
      #2368b1 100%
    );
  }
}

.form-staff {
  background: linear-gradient(
    151.76deg,
    #b5dae2 -27.79%,
    #5189c4 65.96%,
    #5189c4 96.08%
  );
}

.about-us-hero {
  background: linear-gradient(
    178.44deg,
    #ffffff -22.13%,
    #5dcbe4 3.42%,
    #00868d 71.62%,
    #00b18c 94.02%
  );
}
.about-us-card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    93.43deg,
    rgba(255, 255, 255, 0.05) 2.55%,
    rgba(255, 255, 255, 0.3) 94.75%
  );
}
.about-us-content {
  background: linear-gradient(
    180deg,
    #ffffff 0.87%,
    #5dcbe4 8.64%,
    #24a1b9 40.98%,
    #54b3e4 87.59%,
    #003146 103.84%,
    #6b97d9 103.85%
  );
}
.about-us-card-content {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: linear-gradient(
    93.43deg,
    rgba(255, 255, 255, 0.05) 2.55%,
    rgba(255, 255, 255, 0.3) 94.75%
  );
}

.loading-page {
  background: linear-gradient(
    180deg,
    #4979b9 0%,
    #3e619e 31.57%,
    #30447e 70.39%,
    #273168 96.19%
  );
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  background: none !important;
}

.swiper-slide {
  overflow: hidden !important;
  border-radius: 12px !important;
}
