@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "titania";
    font-weight: normal;
    src: url("/fonts/Titania/Titania-Regular.ttf");
  }

  @font-face {
    font-family: "titania-outline";
    font-weight: normal;
    src: url("/fonts/Titania/Titania-Outline.ttf");
  }

  @font-face {
    font-family: "titania-shadow";
    font-weight: normal;
    src: url("/fonts/Titania/Titania-Shadow.ttf");
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
